# Compiled source
*.class

# Logs
*.log
spring.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse files
.project
.classpath
.settings/

# MacOS-specific files
.DS_Store

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle specific files
.gradle/
build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# VS Code
.vscode/

# JRebel
.rebel/

# Spring Boot specific
.spring-boot-devtools.properties
spring-boot-devtools
